body {
  background-color: #f0f0f0 !important;
  background-image: none !important;
}

.dashboard-navbar {
  display: flex !important;
  justify-content: space-between !important;
  padding: 10px !important;
  background-color: #f8f9fa !important;
  width: 100%;
}

.dashboard-navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.dashboard-navbar .navbar-brand span {
  margin-right: 10px;
}

.dashboard-navbar .ml-auto {
  display: flex;
  align-items: center;
}

.dashboard-container .container {
  background: transparent;
  border: none;
  display: flex;
  justify-content: flex-start;
  margin: 0px;

}

.dashboard-breadcrumb {
  padding: 10px;
  margin-bottom: 20px;
}

.dashboard-breadcrumb .breadcrumb-item {
  color: #000;
}

.dashboard-breadcrumb .breadcrumb-item.active {
  color: #000;
  font-weight: bold;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
